* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-family: sans-serif;
    background-color: #f9f9fd;
    color: #fff;
}

.content {
    padding: 50px;
}

.content-circle {
    width: 100px;
    height: 100px;
    background-color: red;
    animation: moveAndChangeColor 3s ease-in-out infinite;
}

@keyframes moveAndChangeColor {
    0% {
        transform: translate(0, 0);
        background-color: red;
    }
    12% {
        background-color: purple;
    }
    25% {
        transform: translate(0, 100px);
        background-color: blue;
    }
    50% {
        transform: translate(100px, 100px);
        background-color: green;
    }
    75% {
        transform: translate(100px, 0);
        background-color: yellow;
    }
    87% {
        background-color: orange;
    }
    100% {
        transform: translate(0, 0);
        background-color: red;
    }
}
